html, body {
margin : 15px;
padding : 0px;
font-family : Avenir Next Condensed,"Lucida Sans Unicode", "Lucida Grande", sans-serif;

}


ul#menu li a {
color : #FD6C9E;
text-decoration : underline;
}

ul#menu li a:hover {
color : #FF00FF;
}

ul#menu li a:visited {
color : #9932CC;
}

ul#menu li {
display : inline;
padding : 30px;
font-size : 20pt;
}

.ancres a{
display : block;
margin-left : 35px;
}
 a{
 color : #BA55D3;
 font-size : 15pt;
 text-decoration : none;
 }
 
 a:visited {
 color : #87CEFA;
 }
.citation {
font-size : 22pt;
line-height : 5px;
}

.auteurs {
font-size : 15pt;
margin-left : 150pt;
text-decoration : underline;
line-height : 5px;
}

h1 {
font-family :Roboto light , cursive, sans-serif;
color : #BA55D3;
font-size : 50pt;
text-align : center;
text-decoration : underline;
background: -webkit-gradient(linear, left top, right bottom, from(#BA55D3), to(#E6E6FA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
font-size : 20pt;
font-family : CaviarDreams,"Lucida Sans Unicode", "Lucida Grande", sans-serif;
text-decoration : underline;
}

img {
margin : 15px;
}
